In [1]:
import numpy as np
import pandas as pd
#!pip install pgmpy

In [2]:
from pgmpy.models import BayesianModel

In [3]:
df=pd.read_csv("dataset/adult.csv")

In [4]:
df.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [5]:
from sklearn.preprocessing import LabelEncoder
Lr=LabelEncoder()
for i in df.columns:
    df[i]=Lr.fit_transform(df[i])
    
print(df)

       39   State-gov   77516   Bachelors   13   Never-married   Adm-clerical  \
0      33           6    2925           9   12               2              4
1      21           4   14085          11    8               0              6
2      36           4   15335           1    6               2              6
3      11           4   19354           9   12               2             10
4      20           4   17699          12   13               2              4
...    ..         ...     ...         ...  ...             ...            ...
32555  10           4   16527           7   11               2             13
32556  23           4    8079          11    8               2              7
32557  41           4    7882          11    8               6              1
32558   5           4   12880          11    8               4              1
32559  35           5   17824          11    8               2              4

        Not-in-family   White   Male   2174   0   40   United-States   <=50K
0                   0       4      1      0   0   12              39       0
1                   1       4      1      0   0   39              39       0
2                   0       2      1      0   0   39              39       0
3                   5       2      0      0   0   39               5       0
4                   5       4      0      0   0   39              39       0
...               ...     ...    ...    ...  ..  ...             ...     ...
32555               5       4      0      0   0   37              39       0
32556               0       4      1      0   0   39              39       1
32557               4       4      0      0   0   39              39       0
32558               3       4      1      0   0   19              39       0
32559               5       4      0    108   0   39              39       1

[32560 rows x 15 columns]

In [6]:
model=BayesianModel([('39', ' State-gov'),( ' 77516', ' 13'), (' 2174', ' 0', ' 40'),(' United-States', ' <=50K')])

i:\python\python system files\lib\site-packages\pgmpy\models\BayesianModel.py:8: FutureWarning: BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.
  warnings.warn(

In [7]:
model

In [8]:
model.fit(df)

In [9]:
from pgmpy.inference import VariableElimination
infer=VariableElimination(model)
q=infer.query(variables=[" <=50K"])

i:\python\python system files\lib\site-packages\pgmpy\models\BayesianModel.py:8: FutureWarning: BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.
  warnings.warn(

In [10]:
q

In [11]:
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,33,6,2925,9,12,2,4,0,4,1,0,0,12,39,0
1,21,4,14085,11,8,0,6,1,4,1,0,0,39,39,0
2,36,4,15335,1,6,2,6,0,2,1,0,0,39,39,0
3,11,4,19354,9,12,2,10,5,2,0,0,0,39,5,0
4,20,4,17699,12,13,2,4,5,4,0,0,0,39,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,10,4,16527,7,11,2,13,5,4,0,0,0,37,39,0
32556,23,4,8079,11,8,2,7,0,4,1,0,0,39,39,1
32557,41,4,7882,11,8,6,1,4,4,0,0,0,39,39,0
32558,5,4,12880,11,8,4,1,3,4,1,0,0,19,39,0
32559,35,5,17824,11,8,2,4,5,4,0,108,0,39,39,1

In [12]:
print(q)

+----------+---------------+
|  <=50K   |   phi( <=50K) |
+==========+===============+
| <=50K(0) |        0.7592 |
+----------+---------------+
| <=50K(1) |        0.2408 |
+----------+---------------+